@import "tailwindcss";

body {
    background: #F8F7F2;
    font-family: 'Mona Sans', sans-serif;
    overflow: auto;
}

.navbar-fixed {
    @apply fixed z-9999;
    background-color: #F8F7F2;
    opacity: 80%;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.hamburger_line {
    @apply w-7.5 h-0.5 my-2 block bg-black;
}

.hamburger_active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger_active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger_active > span:nth-child(3) {
    @apply -rotate-45;
}

.slider {
  position: relative;
}

/* 2s is very fast! Changed to 20s for a smooth look */
.animate-scroll {
  animation: scroll 20s linear infinite;
  will-change: transform;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    /* Moves exactly half the width of the track */
    transform: translateX(calc(-50%)); 
  }
}

.slider::before,
.slider::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  z-index: 10;
  pointer-events: none;
}